@model Basket

@{
    ViewData["Title"] = "Basket";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">KAUF ALLES!</h1>
    </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Beschreibung</th>
                            <th scope="col" class="text-center">Preis</th>
                            <th scope="col" class="text-center">Rabatt</th>
                            <th scope="col" class="text-right">Anzahl</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var price = 0;}
                        @foreach (var item in Model.Items)
                        {
                            price += ((item.ProductPrice - item.ProductDiscount) * item.Count);
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.ProductDescription</td>
                            <td class="text-center">@item.ProductPrice €</td>
                            <td class="text-center">@item.ProductDiscount €</td>
                            <td class="text-right">@item.Count</td>
                            @*<td class="text-right"><a class="btn btn-sm btn-danger" asp-controller="Home" asp-action="RemoveFromBasket" asp-route-productId="@item.ProductId"><i class="fa fa-trash"></i> </a> </td>*@
                        </tr>
                        }

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>@price €</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a class="add-to-cart btn btn-lg btn-block btn-success text-uppercase" asp-controller="Home" asp-action="ClearBasket">Leeren</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a class="add-to-cart btn btn-lg btn-block btn-success text-uppercase" asp-controller="Home" asp-action="Checkout">Kaufen</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>



