@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                @{ 
                    var picNum = 240;
                }
                @foreach (var item in Model)
                {
                    @Html.Hidden(item.ProductName);

                    <div class="col-lg-3 col-md-6 mb-4" id="card-template">
                        <a class="card" asp-controller="Home" asp-action="ProductDetail" asp-route-name="@item.ProductName" asp-route-description="@item.ProductDescription" asp-route-price="@item.ProductPrice" asp-route-productId="@item.ProductId">
                            <!--Card image-->
                            <div class="view overlay">
                                @*<img src="~/sell-product.png" class="card-img-top"
        alt="">*@
                                <img src="http://placekitten.com/400/256" />
                                <a href="product-page.html">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card image-->
                            <!--Card content-->
                            <div class="card-body text-center">
                                <!--Category & Title-->
                                <h5>@item.ProductName</h5>
                                <h5>
                                    <strong>
                                        @item.ProductDescription
                                    </strong>
                                </h5>
                                <h4 class="font-weight-bold blue-text">
                                    <strong>@item.ProductPrice €</strong>
                                </h4>
                                @if (item.ProductDiscount != 0)
                                {
                                    <h4 class="font-weight-bold">
                                        <strong style="color:red;">- @item.ProductDiscount €</strong>
                                    </h4>
                                }

                            </div>
                            <!--Card content-->
                        </a>
                    </div>
                }
            </div><!--.row-->
        </div><!--.container-->
    </div><!--.container-fluid-->

   


</div>
